/* Works block srart */

.article-works {
  padding: 0;
  margin-bottom: 25px;
  width: 650px;
  background-color: #eff3f7;
  vertical-align: top;
}

.poject {
  display: inline-block;
  width: 180px;
  text-align: center;
  vertical-align: top;
  margin: 16px 15px 0px 15px;
  font-size: 14px;
  line-height: 14px;
}
.poject:nth-child(3n+1) {
  margin-right: 0;
}
.project_wrap {
  position: relative;
  width: 180px;
  height: 130px;
  border-radius: 5px;
  border: 2px solid #3ba8c0;
  overflow: hidden;
}
.project_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.project_hover {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.project_link {
  position: absolute;
  margin-top: -6px;
  font-size: 12px;
  line-height: 14px;
  color: transparent;
}
.project_link span{
  padding: 0 5px;
}
.project_add_link {
  position: absolute;
  top: 50%;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #3ba8c0;
  cursor: pointer;
}

.project_wrap:hover {
  border: 2px dotted #3ba8c0;
  border-radius: 5px;
}
.project_wrap:hover .project_add_link {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  background-color: #3d8eb9;
  border: 2px dotted #3ba8c0;
  z-index: 6;
}
.project_add {
  display: block;
  margin-top: 30px;
}
.project_wrap:hover .project_hover {
  background-color: #3d8eb9;
  opacity: 0.8;
}
.project_wrap:hover .project_link {
  position: absolute;
  top: 50%;
  left: 0;
  width: 180px;
  height: 130px;
  color: #fff;
  text-decoration: none;
  /*border: 2px dotted #3ba8c0;*/
  z-index: 6;
  /*background-color: #3d8eb9;*/
}
.project_wrap:hover span {
  border: 2px solid #fff;
  border-radius: 5px;
  /*padding: 0px 5px;*/
}
/**/

.popup_add {
    display: none;
    z-index: 8;
}
.popup_container {

}
.popup_container .popup_add {
    display: block;
    margin-top: -225px;
}
.popup_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.8;
    z-index: 7;
}
/**/
/**/
/**/
.add-project {
  position: relative;
  width: 180px;
  height: 130px;
  color: #3ba8c0;
  background-color: #edf8fc;
  border-radius: 5px;
  border: 2px solid #3ba8c0;
  overflow: hidden;
}

.add-project-wrap a {
  text-decoration: none;
  color: #3ba8c0;
}

.add-project-wrap:hover,
.add-project-wrap:hover a {
  background-color: #3d8eb9;
  color: #fff;
  opacity: 0.8;
  z-index: 1;
}

.add-project-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.add-text {
  display: block;
  color: #fff;
  padding-top: 40%;
  text-align: center;
  height: 100%;
}

/**/
/**/

.popup_add {
  qdisplay: none;
  position: absolute;
  width: 362px;
  /*top: 50%;
  left:50%;
  margin-left: -181px;
  margin-top: -370px;*/
  min-height: 378px;
  border-radius: 5px;
  overflow: hidden;
  font-size: 17px;
  line-height: 17px;
  background-color: #eff3f7;
  background-color: rgb(239, 243, 247);
  box-shadow: 0px 4px 6.86px 0.14px rgba(13, 16, 7, 0.29);
  -webkit-box-shadow: 0px 4px 6.86px 0.14px rgba(13, 16, 7, 0.29);
  -moz-box-shadow: 0px 4px 6.86px 0.14px rgba(13, 16, 7, 0.29);
}

.popup_add-form {
}
.popup_add_title {
  position: relative;
  height: 44px;
  background-color: #48cbe8;
  border-bottom: 9px solid #67dffa;
  color: #fff;
  margin-bottom: 6px;
}
.popup_add_title span {
  display: block;
  padding-left: 13px;
  padding-top: 3px;
  font-size: 25px;
  line-height: 44px;
}

.popup_add-container {
  position: relative;
  padding: 5px 0 0 0;
  width: 320px;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
  margin:auto;
}

.popup_add-label {
  display: block;
  margin-bottom: 10px;
}

.popup_add-label-title {
  font-size: 17px;
  line-height: 19px;
  margin-bottom: 5px;
  color: #959aa8;
}

.popup_add-input-text {
  display: block;
  width: 295px;
  padding: 10px 11px 8px 10px;
  min-height: 10px;
  font-size: 13px;
  border-radius: 5px;
  font-size: 13px;
  color: #48cbe8;
  border: 1px solid #48cbe8;
  outline: none;
  overflow: hidden;
}

.popup_add-input-file {
  position: relative;
}

.popup_add-input-file-upload {
  position: absolute;
  top: 0;
  left: -9999px;
}

.popup_add-input-fake {}

.popup_add-upload-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 270px;
  border: 1px solid #48cbe8;
  background-color: #48cbe8;
  border-radius:0 5px 5px 0;
  z-index: 10;
  cursor: pointer;
  overflow: hidden;
}

.popup_add-textarea {
  resize: none;
  width: 296px;
  height: 90px;
  padding: 10px;
  border: 1px solid #48cbe8;
  border-radius: 5px;
  font-size: 13px;
  outline: none;
}

.popup_add-close {
  position: absolute;
  right:10px;
  top:10px;
}

::-webkit-input-placeholder {
  color: #48cbe8;
  vertical-align: middle;
}

::-moz-placeholder {
  color: #48cbe8;
  vertical-align: middle;
}

::-moz-placeholder {
  color: #48cbe8;
  vertical-align: middle;
}

:-ms-input-placeholder {
  color: #48cbe8;
  vertical-align: middle;
}

.add_fake {
  padding: 10px 10px 8px 10px;
  min-height: 20px;
  font-size: 13px;
  color: #48cbe8;
  vertical-align: middle;
  background-color: #fff;

}

.button-add {
  display: block;
  width: 140px;
  height: 33px;
  font-size: 19px;
  margin: 15px auto 20px;
  padding: 8px 28px;
  outline: none;
  color: #fff;
  background-color: #849db5;
  border-radius: 5px;
  border: 0 solid transparent;
  box-shadow: inset 0px -2px 0 0 #687b8f;
  -webkit-box-shadow: inset 0px -2px 0 0 #687b8f;
  -moz-box-shadow: inset 0px -2px 0 0 #687b8f;
}
.button-add:hover {
  background-color: #48cbe8;
  box-shadow: inset 0px -2px 0 0 #3ba8c0;
  -webkit-box-shadow: inset 0px -2px 0 0 #3ba8c0;
  -moz-box-shadow: inset 0px -2px 0 0 #3ba8c0;
}
